{{#each model as |article|}}
<div class="row well">
  <div class="col-md-6">
    <h2>author:{{article.author}}</h2>
    <h2>title:{{article.title}}</h2>
    <h4><a href="{{article.url}}">THE STORY</a></h4>
  </div>
  <div class="col-md-6">
    <img src={{article.urlToImage}} class="well img-responsive"/>
    <p>{{article.description}}</p>
  </div>
</div>
{{/each}}





<!--
<h2>NEWS</h2>

{{#each model as |article|}}
<h2>{{article.author}}</h2>
<h2>{{article.title}}</h2>
{{/each}}-->
